#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border-radius: 5px;
}




.square {
  border: 3px solid black;
  font-size: larger;
  font-weight: bolder;
  text-align: center;
  height: 65px;
  width: 65px;

}

.btn {
  margin: 5px 2px;
  background-color: #cec1c1;
}

.winner {
  background-color: aquamarine;
}

.cross {
  color: rgba(255, 0, 0, 0.521);
}

.circle {
  color: rgba(0, 128, 0, 0.452);
}

.boardRow{
  display: flex;
  justify-content: center;
}